In [39]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
import bs4 as bs

In [40]:
#get an url list 
def get_url_list(page1_url):
    var_url = '&section_offset=5&items_offset='
    url_lst = [page1_url]
    for page in range(1,17):
        url = page1_url+var_url+str(18*page)
        url_lst.append(url)
    return url_lst

In [41]:

def get_house_info(url, price):
    #url = 'https://www.airbnb.com/rooms/3503946?s=P8Cyps_7'
    import requests
    from bs4 import BeautifulSoup
    import re
    response = requests.get(url)
    output = []
    if not response.status_code == 200:
        print('failed to get the fidelity website')
        return output
    else:
        results_page = BeautifulSoup(response.content,'html5lib')
        # rating
        if len(results_page.find_all('div', class_="_l0ao8q")) == 0:
            rating = 'no rating'
        else:
            rating_sec = results_page.find_all('div', class_="_l0ao8q")[0]
            rating = rating_sec.find('span').get('aria-label')
        # coordinates
        coordinates = re.search(
            '"listing_lat":([0-9]{2}.[0-9]*),"listing_lng":(-[0-9]{2}.[0-9]*),', 
            response.text)
        
        lat = coordinates.group(1)
        lon = coordinates.group(2)
        # host
        superhost = re.search('"is_superhost":(.{1,5})', 
                              response.text).group(1)
        
        if len(results_page.find_all('span', class_="_fgdupie"))==0:
            response_rate = "no info"
        else:
            host = results_page.find_all('span', class_="_fgdupie")
            #response rate
            response_rate = float('nan')
            for host_ in host[::-1]:
                if 'Response rate' in host_.text:
                    response_rate = host_.text.split(':')[-1]
                    break
                
      
        if re.search('"guest_label":".{1,8}([0-9][0-9]?).{1,8}",', response.text) != None:
            accommodates = re.search('"guest_label":".{1,8}([0-9][0-9]?).{1,8}",', response.text).group(1)
        else:
            accommodates = re.search('"guest_label":"([0-9][0-9]?) guest.*', response.text).group(1)
        #print (accommodates)
        
        
        #bedrooms
        if re.search('"bedroom_label":"([0-9][0-9]?).*","guest_label"', response.text) != None:
            bedrooms = (re.search('"bedroom_label":"([0-9][0-9]?).*","guest_label"', response.text)).group(1)
        else:
            bedrooms = "studio"
            #print (bedrooms)
            
        #bathrooms
        bathrooms = (re.search('"bathroom_label":"([0-9]\.?[0-9]?).*","bed_label"', response.text)).group(1)
        
        #beds
        beds = (re.search('"bed_label":"(.).*","bedroom_label"', response.text)).group(1)
        #print (beds)
        
        #room type
        try:
            room_type = results_page.find('span',class_="_1hh2h7tb").text
        except AttributeError:
            room_type='NoneType'

        #number of review
        try:
            number_of_reviews = results_page.find('div', class_="_vy3ibx").text
        except AttributeError:
            number_of_reviews='NoneType'
        
        output=[price, accommodates, bedrooms,beds, bathrooms, room_type, number_of_reviews,  rating, lat, lon, superhost, response_rate]
        #print('output=')
        #print(output)
        
    return output

In [42]:
def get_prices_urls(url,dataframe):
    info_list=[]
    from selenium import webdriver  
    browser = webdriver.Chrome('/Users/daqiliu/Desktop/chromedriver')
    #url='https://www.airbnb.com/s/Manhattan--New-York--NY--United-States/homes?refinement_paths%5B%5D=%2Fhomes&toddlers=0&query=Manhattan%2C%20New%20York%2C%20NY%2C%20United%20States&allow_override%5B%5D=&price_min=100&price_max=199&s_tag=qfon6p2A'
    browser.get(url)
    html_source = browser.page_source
    #browser.quit()
    #get the prices for every apartment since the price infomation is not availabe inside the apt page
    prices = browser.find_elements(By.XPATH,"//span[@class='_17oldnte']")
    price_list = []
    for price in prices:
        try:
            price = price.text
            price_list.append(price)
        except:
            pass
    price_list = price_list[::3]
    browser.quit()
    print("length of price list is: ", len(price_list))

    #get the url for every apt on this page
    results_page = BeautifulSoup(html_source, "lxml")
    urls = results_page.find_all("meta", content=re.compile("www.airbnb.com/rooms"))
    #urls = browser.find_elements(By.XPATH,"//a[@class='_1ol0z3h']")
    url_list = []
    for url in urls:
        url = str(url)
        url = "https://"+url[15:-18]
        #print (x)
        url_list.append(url)
    print("length of apt_url_list is:" + str(len(url_list)))
    print("-----------------")
    #print(url_list)
    #pass url and price to the get_house_info function and extract the rest infomation 
    
    if (len(price_list) == len(url_list)) and (len(price_list)>0):
        for x in range(len(price_list)):
            #print(get_house_info(url_list[x], price_list[x]))
            info_list.append(get_house_info(url_list[x], price_list[x]))
        #print('info list is:')
        #print(info_list)
        df2=pd.DataFrame(info_list,columns=['price','accommodates', 'bedrooms','beds', 
                                            'bathrooms', 'room_type', 'number_of_reviews',  'rating', 
                                            'lat', 'lon', 'superhost', 'response_rate'])
        #print('dataframe is:')
        #print(df2)
        
        dataframe=pd.concat([dataframe,df2], ignore_index=True)
        print('complete dataframe')

    #print("info_list=")
    #print(info_list)
    return dataframe

In [43]:
page_url="https://www.airbnb.com/s/Manhattan--New-York--NY--United-States/homes?refinement_paths%5B%5D=%2Fhomes&checkin=2019-02-14&checkout=2019-02-28&adults=0&children=0&infants=0&guests=0&toddlers=0&query=Manhattan%2C%20New%20York%2C%20NY%2C%20United%20States&price_min=27&price_max=43&allow_override%5B%5D=&s_tag=izDMX3FF"
url_list=get_url_list(page_url)
df = pd.DataFrame(columns=['price','accommodates', 'bedrooms','beds', 'bathrooms', 'room_type', 'number_of_reviews',  'rating', 'lat', 'lon', 'superhost', 'response_rate'])
for url in url_list:
    #create a df   
    df=get_prices_urls(url,df)

In [44]:
df

,price,accommodates,bedrooms,beds,bathrooms,room_type,number_of_reviews,rating,lat,lon,superhost,response_rate
0,Price$34,1,1,0,1,Private room in apartment,NoneType,no rating,40.81209932511971,-73.95934462235282,false,NaN
1,Price$35,2,1,1,1,Private room in apartment,14 Reviews,Rating 5 out of 5,40.85133080947567,-73.94006003288479,false,100%
2,Price$41,1,1,1,1,Private room in apartment,59 Reviews,Rating 5 out of 5,40.829571471763984,-73.94534744481334,false,100%
3,Price$40,3,1,1,2,Private room in apartment,20 Reviews,Rating 5 out of 5,40.82815763393119,-73.94957162323941,false,100%
4,Price$43,2,1,1,1,Private room in apartment,55 Reviews,Rating 4.5 out of 5,40.82743813688141,-73.94706710208679,false,100%
5,Price$41,2,1,1,1,NoneType,NoneType,no rating,40.799778403682936,-73.94142972122107,false,no info
6,Price$39,2,1,1,1.5,Private room in apartment,6 Reviews,Rating 4.5 out of 5,40.81850343734161,-73.95622089720574,false,100%
7,Price$38,2,1,1,1,Private room in apartment,55 Reviews,Rating 5 out of 5,40.838776424912965,-73.94731391112843,"true,",NaN
8,Price$36,2,1,1,1,Private room in apartment,4 Reviews,Rating 5 out of 5,40.86764244785547,-73.92590186542682,false,NaN
9,Price$30,2,1,1,1,Private room in apartment,1 Review,no rating,40.853589279863485,-73.92982059524118,false,NaN
10,Price$36,1,1,1,1,Private room in apartment,12 Reviews,Rating 4.5 out of 5,40.87153447849443,-73.93452239186001,"true,",NaN
11,Price$32,1,1,1,1,Shared room in apartment,200 Reviews,Rating 4.5 out of 5,40.80025945158176,-73.95196758613281,false,NaN
12,Price$40,3,2,2,1,Private room in apartment,22 Reviews,Rating 5 out of 5,40.857352863089645,-73.92980475619036,false,NaN
13,Price$43,2,1,1,1,Private room in apartment,87 Reviews,Rating 4.5 out of 5,40.82279711457948,-73.93956288384472,false,NaN
14,Price$35,4,1,4,2,Shared room in apartment,33 Reviews,Rating 4 out of 5,40.74325781494158,-73.9834006964144,false,NaN
15,Price$36,1,1,1,1,Private room in apartment,33 Reviews,Rating 5 out of 5,40.827465110569236,-73.94223874128905,false,NaN
16,Price$37,2,1,2,2,Shared room in apartment,1 Review,no rating,40.74351385850904,-73.9785730139565,false,NaN
17,Price$43,1,1,1,1,Private room in apartment,5 Reviews,Rating 3 out of 5,40.80084321943403,-73.94687734026579,false,NaN
0,Price$42,2,1,1,1,Private room in house,129 Reviews,Rating 4.5 out of 5,40.82205037617452,-73.94670291150747,false,NaN
1,Price$39,2,1,2,1,Shared room in apartment,4 Reviews,Rating 5 out of 5,40.74506013331165,-73.97979354186494,false,NaN
2,Price$39,2,1,1,1,Private room in apartment,25 Reviews,Rating 5 out of 5,40.82546154286054,-73.94628630534483,false,NaN
3,Price$43,1,1,1,1,Private room in apartment,26 Reviews,Rating 5 out of 5,40.84467636997768,-73.94303399538725,false,NaN
4,Price$40,1,1,1,1,Private room in apartment,16 Reviews,Rating 5 out of 5,40.83185248006736,-73.94806299189203,"true,",NaN
5,Price$40,1,1,1,1,Private room in apartment,NoneType,no rating,40.84243797955297,-73.9425174056493,false,NaN
6,Price$43,1,1,1,1,Private room in apartment,NoneType,no rating,40.83787878733368,-73.94019825183145,false,NaN
7,Price$39,2,1,2,1,Shared room in apartment,6 Reviews,Rating 4 out of 5,40.74628491885539,-73.97897704942777,false,NaN
8,Price$33,2,1,2,2,Shared room in apartment,17 Reviews,Rating 4 out of 5,40.74235450412226,-73.97995492078863,false,NaN
9,Price$39,2,1,1,1,Shared room in apartment,1 Review,no rating,40.745786892767015,-73.97887351619342,false,NaN
10,Price$41,2,1,1,1,Private room in apartment,87 Reviews,Rating 4.5 out of 5,40.86789534391599,-73.90023010804919,false,NaN
11,Price$36,1,1,1,1,Shared room in apartment,39 Reviews,Rating 5 out of 5,40.8102749642779,-73.94080337566106,false,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6,Price$36,1,1,3,1.5,Shared room in apartment,NoneType,no rating,40.71020676647146,-73.98863418947336,false,100%
7,Price$36,1,1,2,1.5,Shared room in apartment,NoneType,no rating,40.70987038967762,-73.98689268077453,false,100%
8,Price$36,1,1,2,1.5,Shared room in apartment,NoneType,no rating,40.71113448762481,-73.98839570222493,false,100%
9,Price$36,1,1,2,1.5,Shared room in apartment,NoneType,no rating,40.71116873244226,-73.98727138658941,false,100%
10,Price$36,1,1,2,1.5,Shared room in apartment,NoneType,no rating,40.71098375406861,-73.98695882291965,false,100%
11,Price$36,1,1,2,1.5,Shared room in apartment,NoneType,no rating,40.71136069074709,-73.98808016608665,false,100%
12,Price$40,2,1,1,1,Private room in apartment,2 Reviews,no rating,40.857419544279615,-73.93029758342621,false,70%
13,Price$37,1,1,2,1.5,Shared room in apartment,NoneType,no rating,40.7111007132228,-73.98688985475721,false,100%
14,Price$40,2,1,1,1,Private room in apartment,19 Reviews,Rating 4 out of 5,40.85260982003,-73.91481639647532,false,NaN
15,Price$34,1,1,2,1.5,Shared room in apartment,2 Reviews,no rating,40.711721996920986,-73.98665097323756,false,100%
16,Price$39,1,1,1,1,Private room in townhouse,25 Reviews,Rating 4.5 out of 5,40.82475420170765,-73.9484186089133,false,100%
17,Price$43,3,1,2,1,Private room in apartment,2 Reviews,no rating,40.82750455499457,-73.94322659818322,false,100%
0,Price$43,1,1,1,1,Shared room in apartment,14 Reviews,Rating 4.5 out of 5,40.848050944584884,-73.94208501702228,false,70%
1,Price$36,1,1,2,1.5,Shared room in apartment,2 Reviews,no rating,40.70985484799047,-73.98723524544366,false,100%
2,Price$40,2,1,1,1,Private room in apartment,20 Reviews,Rating 4.5 out of 5,40.85491522180002,-73.92853055700365,false,70%
3,Price$36,1,1,2,1.5,Shared room in apartment,5 Reviews,Rating 5 out of 5,40.71179276982851,-73.98117181296575,false,100%
4,Price$36,1,1,2,1.5,Shared room in apartment,1 Review,no rating,40.712989567738,-73.98939374634156,false,100%
5,Price$40,2,1,1,1,Private room in apartment,6 Reviews,Rating 5 out of 5,40.85987705294115,-73.92709012295651,false,59%
6,Price$39,2,1,1,1,Shared room in apartment,NoneType,no rating,40.74269799440191,-73.97986101384498,false,33%
7,Price$34,1,1,2,1.5,Shared room in apartment,1 Review,no rating,40.7111041895133,-73.98864609880269,false,100%
8,Price$37,2,1,1,1,Private room in apartment,3 Reviews,Rating 5 out of 5,40.855194117626894,-73.92705192698882,false,NaN
9,Price$43,1,1,1,1,Private room in apartment,15 Reviews,Rating 4 out of 5,40.82078007708156,-73.93770636793816,false,NaN
10,Price$39,1,1,1,1.5,Private room in apartment,NoneType,no rating,40.84829265534214,-73.94016322386098,false,NaN
11,Price$43,2,1,1,1,Private room in apartment,6 Reviews,Rating 4 out of 5,40.81960765720898,-73.93937085377806,false,NaN
12,Price$40,2,1,1,1,Private room in apartment,4 Reviews,Rating 4 out of 5,40.815116268578585,-73.94613961934941,false,NaN
13,Price$43,1,1,1,1,Private room in apartment,18 Reviews,Rating 4.5 out of 5,40.831315228435166,-73.9410082315511,false,NaN
14,Price$36,1,1,2,1.5,NoneType,4 Reviews,Rating 5 out of 5,40.70992680295775,-73.98700364642342,false,no info
15,Price$36,2,1,1,1,Private room in apartment,17 Reviews,Rating 4.5 out of 5,40.822945372172214,-73.93837488206374,false,NaN
16,Price$35,2,1,1,1,Private room in apartment,17 Reviews,Rating 4.5 out of 5,40.82443416264485,-73.93842514103876,false,NaN
17,Price$40,1,1,1,1,Private room in apartment,18 Reviews,Rating 4.5 out of 5,40.7925204251791,-73.93921282470168,false,NaN

In [45]:
df.to_csv('/Users/daqiliu/Desktop/airbnbdata.csv')